<div class="row">
	<div class="small-12 columns">
		<div class="text-center">
			<h1><%= @store['name'] %></h1><br>
			<img src="http://www.auroraimporting.com/wp-content/uploads/LCBO-logo-7E6B6267B2-seeklogo_com.gif"><br>
    		<p>Price: <%= format_price @product['price_in_cents'] %><br>
    		Package: <%= @product['package'] %><br>
    		Type: <%= @product['primary_category'] %><br>
    		Category: <%= @product['secondary_category'] %><br>
    		Producer: <%= @product['producer_name'] %><br>
    		Origin: <%= @product['origin'] %><br>
    		LCBO Inventory Count: <%= @product['inventory_count'] %></p>
    	</div>
	</div>
</div>
